{{define "cart-num"}}
    <a href="/cart" class="btn position-relative">
        <img class="navbar-brand" href="#" src="/static/image/cart.svg" style="height: 2em;">
        {{ if $.cart_num}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ $.cart_num }}
            {{ end }}
  </span>
    </a>
{{end}}